.left-container {
    width: 50%;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 2;
    align-items: center;
    justify-content: center;
    
    width: 50%;
    color: white;
    padding: 5%;
}


.soft-line {
    border-width: 1px;
    border-color: #A6996B;
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}