.reservation-container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 30;
    color: white;
    padding: 1rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.reserve-btn {
    position: relative;
    z-index: 30;
    color: white;
    font-weight: lighter;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}

.reserve-btn:hover {
    font-weight: normal;
}

/* 
.reserve-btn:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    left: 0;
    width: 0;
    bottom: -2px;
    transition: 0.3s;
} 
*/


/* 
.reserve-btn:hover::after {
    width: 100%;
} 
*/

